.messages-wrap {
  height: 100%;
  padding: 10px 0 0;
  margin: 0;
}
.message-history-wrap {
  height: 85%;
  width: 100%;
}

.bottom-panel-wrap {
  padding-top: 10px;
  height: 15%;
  width: 100%;
}

.messages-scroll-bar .scroll-bar-visible .ui-scrollpanel-wrapper:hover {
  border-right: 9px solid #E9EBED;
}
