.row {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.history-top-panel {
    height: 87%;
}

.history-bottom-panel {
    height: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

.history-bottom-panel .row {
    height: 100%;
    margin: 0;
}

.message-history-list {
  padding: 0;
  height: 100%;
}

.current-message-input {
    padding: 0;
}

.current-message-input textarea {
    height: 5%;
    width: 100%;
    resize: none;
    border: none;
    border-bottom: 0.5px solid gray;
}

.send-button {
    padding: 0 0 0 2%;
    height: 100%;
}

.send-button > button {
    border: 0;
    background: transparent;
    width: 50%;
    padding: 0;
    height: 100%;
}

.send-button > button > img {
    padding-top: 10%;
    width: 50px;
    height: 40px;
}

#file-attach-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file-attach-input + label {
    font-size: 1.25em;
    font-weight: 700;
    color: gray;
    display: inline-block;
}

#file-attach-input:focus + label, #file-attach-input + label:hover {

}

#file-attach-input + label {
    cursor: pointer;
}
