<li class="dialog-item-wrap" [ngClass]="{ 'active': isActive }">
  <a class="dialogs-item">
    <div fxLayout="row">
      <div fxFlex="20%" class="dialog-item-avatar">
        <div class="avatar-circle" [ngStyle]="{ 'background-color': getAvatarColor(participant_username) }">
          <div class="avatar-circle-initials"><div>{{ participant_username.substr(0, 1).toUpperCase() }}</div></div>
        </div>
      </div>
      <div fxFlex="80%" class="dialog-item-message">
        <div class="dialog-item-message-peer">
          <span>{{participant_username}}</span>
        </div>
        <div class="dialog-item-message-lastMessage">

        </div>
      </div>
    </div>
  </a>
</li>
