.active {
    background-color: #5682a3;
    color: white;
}

.dialog-item-wrap {
    height: 10%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row {
    margin: 0;
    height: 100%;
}

.dialogs-item {
    height: 100%;
    cursor: pointer;
    display: block;
}

.dialog-item-avatar {
    height: 100%;
    margin: 0;
    padding: 0;
}

 .avatar-circle {
  color: rgb(255, 255, 255);
  border-radius: 50%;
  -moz-border-raduis: 50%;
  -webkit-border-radius: 50%;
  width: 80%;
  padding-bottom: 80%;
  height: 0;
}

.avatar-circle-initials {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  width: 50%;
}
/*
.avatar-circle-initials:after {
  content: " ";
  width: 100%;
  height: 0;
  display: block;
  padding-bottom: 100%;
  border-radius: 50%;
  -moz-border-raduis: 50%;
  -webkit-border-radius: 50%;
}

.avatar-circle-initials div {
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 1em;
  text-align: center;
  margin-top: -0.5em;
} */

.avatar-circle {
  position: relative;
border-radius: 50%;
width: 100%;
height: auto;
padding-top: 100%;
background: white;
}

.dialog-item-message {
    height: 100%;
}

.dialog-item-message-peer {
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: Tahoma, sans-serif, Arial, Helvetica;
    font-weight: 700;
    color: black;
}
