<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header></header>
    <div class="d-flex align-items-center align-content-center justify-content-center" style="height: 80%">
        <div>
            <form id="loginForm">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" name="username" id="username" type="text" placeholder="Username" required/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" name="password" id="password" type="password" placeholder="Password" required/>
                </div>
                <div id="errorContainer" class="form-group d-none">
                    <div class="alert alert-danger">Invalid login or password</div>
                </div>
                <button type="button" id="submitBtn" class="btn btn-primary">Sign in</button>
                <div>
                    <span>Don't have an account? <a href="/register">Sign up</a></span>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/login.js"></script>
    <script src="/js/http-utils.js"></script>
    <script src="/js/environment.js"></script>
</body>
</html>