<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header></header>
    <div class="d-flex align-items-center align-content-center justify-content-center" style="height: 80%">
        <div class="col-md-4" id="regForm">
                <div class="form-group" id="usernameContainer">
                    <label for="username">Username</label>
                    <input class="form-control" name="username" id="username" type="text" placeholder="Username" required/>
                    <div class="invalid-feedback">Please provide a valid username.</div>
                </div>
                <div class="form-group" id="passwordContainer">
                    <label for="password">Password</label>
                    <input class="form-control" name="password" id="password" type="password" placeholder="Password" required/>
                    <div class="invalid-feedback">Please provide a valid password.</div>
                </div>
                <div class="form-group" id="confirmPasswordContainer">
                    <label for="confirmPassword">Repeat password</label>
                    <input class="form-control" name="confirmPassword" id="confirmPassword" type="password" placeholder="Repeat password" required/>
                    <div class="invalid-feedback">Password don't match</div>
                </div>
                <!--<div id="errorAlert" class="form-group d-none">-->
                    <!--<div class="alert alert-danger">User with such username already exists!</div>-->
                <!--</div>-->
                <!--<div id="successAlert" class="form-group d-none">-->
                    <!--<div class="alert alert-success">Registration successful. Now you'll be redirected to login page</div>-->
                <!--</div>-->
                <div class="d-flex align-items-center align-content-center justify-content-center">
                    <button type="button" id="submitBtn" class="btn btn-primary col-md-8">Sign up</button>
                </div>
                <div class="d-flex align-items-center align-content-center justify-content-center">
                    <span>Have an account? <a href="/login">Sign in</a></span>
                </div>
        </div>
    </div>
    <script src="/js/registration.js"></script>
    <script src="/js/http-utils.js"></script>
    <script src="/js/environment.js"></script>
</body>
</html>