<div class="page-wrap container">
  <div class="header">
    <div><i (click)="logout()" class="fas fa-sign-out-alt sign-out" title="Log out"></i></div>
  </div>
  <div fxLayout="row" class="row">
    <div fxLayout="column" fxFlex="30%" class="dialogs">
      <ul class="dialogs-list">
        <app-dialog
                *ngFor="let user of participants"
                [participant_username]="user.username"
                [isActive]="user.id === currentDialog"
                (click)="changeDialog(user.id)">
        </app-dialog>
      </ul>
    </div>
    <div fxLayout="column" fxFlex="70%" class="history">
      <div class="no-chat" *ngIf="currentDialog === null">Please select a chat to start messaging</div>
      <app-history *ngIf="currentDialog !== null" [dialog]="currentDialog"></app-history>
    </div>
  </div>
</div>
