<div fxLayout="column" class="login-page-wrapper">
  <div fxFlexOffset="10%"
        fxFlex="55%"
        fxFlexOffset.xs="0"
        fxFlex.xs="75">
      <div fxLayout="row">
          <div fxFlexOffset="37%"
                fxFlexOffset.xs="0"
                fxFlex="26%"
                fxFlex.xs="100">
                <div fxLayout="column">
                    <mat-card fxLayout="column">
                      <div fxFlex="60%" fxFlexOffset="5%" class="login-page-form">
                        <mat-form-field>
                            <input [(ngModel)]="this.username"
                                matInput
                                type="text"
                                required
                                placeholder="Username...">
                        </mat-form-field>
                        <mat-form-field>
                            <input
                                [(ngModel)]="this.password"
                                matInput
                                type="password"
                                required
                                placeholder="Password...">
                        </mat-form-field>
                        <mat-form-field>
                          <input
                                [(ngModel)]="this.confirmPassword"
                                matInput
                                type="password"
                                required
                                placeholder="Confirm your password...">
                      </mat-form-field>
                      </div>
                      <div fxFlex="20%" class="login-page-submit">
                            <button (click)="register()"  mat-raised-button color="primary" style="width: 100%">Create account</button>
                      </div>
                      <div>
                        <a routerLink='/login'>Already have an account? Sign in</a>
                      </div>
                    </mat-card>
                </div>
          </div>
        </div>
  </div>
</div>

