:host(.selected) .dialog-tab-container {
  background-color: #6490b1;
  color: white;
}

:host(:not(.selected)) .dialog-tab-container {
  color: black;
}

:host(:hover:not(.selected)) .dialog-tab-container {
  background-color: #f2f6fa;
}

.dialog-tab-container {
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  margin: 0;
  user-select: none;
}

.avatar-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  line-height: 10px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
