:host(.selected) .dialog-tab-container {
  background-color: #6490b1;
  color: white;
}

:host(:hover:not(.selected)) .dialog-tab-container {
  background-color: #f2f6fa;
}

:host:focus {
  outline: none;
}

.dialog-tab-container {
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  margin: 0;
  user-select: none;
}

.dialog-tab-container:focus {
  outline: none;
}

:host(:not(.selected)) .dialog-name {
  color: black;
  font-size: 13px;
  font-weight: 700;
}

:host(.selected) .dialog-name {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
}

.dialog-last-message {
  color: grey;
  font-size: 13px;
  font-weight: 400;
  padding-top: 5px;
}

.dialog-last-message > span {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  display: inline-block;
  overflow-x: hidden;
}

:host(.selected) .dialog-last-message {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

@media (max-width: 768px) {

  .dialog-tab-container {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid rgb(238, 238, 238);
  }

  .avatar-container {
    padding-right: 0;
  }

  .dialog-preview-container {
    padding-left: 0;
    padding-top: 10px;
  }

  .dialog-last-message {
    font-size: 18px;
  }

  :host(:not(.selected)) .dialog-name {
    font-size: 18px;
  }

}
