<div class="d-flex align-items-center justify-content-center flex-column h-100">
        <div class="login-form flex-column">
            <div class="login-form-header">

            </div>
            <div>
                <input [(ngModel)]="this.username"
                       type="text"
                       required
                       placeholder="Username..."
                       class="form-control">
              </div>
              <div>
                <input [(ngModel)]="this.password"
                       type="password"
                       required
                       placeholder="Password..."
                       class="form-control">
              </div>
              <div class="login-page-submit">
                <button class="form-control" (click)="authorize()">Login</button>
              </div>
              <div>
                <a routerLink="/register">Don't have an account? Sign up</a>
              </div>
        </div>
</div>
